*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h1{
    border: 1px solid rgb(237, 228, 228);
    width: 228px;
    margin: 50px;
    box-shadow: -10px 10px 6px rgba(195, 189, 188, 0.605);
}
.h1 img{
    margin-bottom: 7px;
}
.h1 b{
    margin-left: 15px;
}
.h1 p{
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

