.h1 {
    position: relative;
    color: rgb(203, 54, 54);
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.h2 {
    position: relative;
    color: rgb(203, 54, 54);
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: move;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes move{
    0% {left: -250px;top: 30px;}
    100% {left: 1500px;top:30px}
}